<%- include('../partials/header')%>

<div class="container">
    <form id="new-form" class="pt-5" action="/courses" method="POST">
        <div class="form-group">
            <label>Golf Course Name:</label>
            <textarea class="form-control" type="text" name="name"></textarea><br>
            
            <label>Location:</label>
            <textarea class="form-control" type="text" name="location"></textarea><br>
            
            <button type="submit" class="btn btn-outline-dark">Add Course</button>
        </div>
    </form>
</div>


<%- include('../partials/footer')%>