
body {
  font: 14px sans-serif;
}

.homepage {
  padding: 40vmin 15vmin;
  background-image: url(https://i.imgur.com/lqXkrRp.jpg);
  background-size: cover;
  min-height: 120vh;
}

.navbar-header {
  margin: 15px;
}

ul {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin: 0.5vmin;
}

.nav-item:hover {
  color: green;
}

.all-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.all-review-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.all-cards > .card {
  background-color: rgb(226, 246, 239);
   margin: 1vmin;
}

#show-page {
  padding-top: 3vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#add-review-form {
  margin: 1vmin;
}

.user-buttons {
  padding-top: 2vmin;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#user-edit {
  margin-right: 1vmin;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}



